<section class="contact pb-5">
  <div class="container">
    <h2 class=" text-center text-uppercase mb-4">contact me</h2>
    <div class="main d-flex justify-content-evenly align-items-center mb-4">
      <div class="line"></div>
    <div class="icon">
      <i class="fa-solid fa-star"></i>
    </div>
    <div class="line"></div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <form action="">
            <input type="text" class="form-control" placeholder="Name">
            <input type="email" class="form-control" placeholder="Email Address">
            <input type="number" class="form-control" placeholder="Phone Number">
            <textarea class="form-control" name="" id="" cols="70" rows="5" placeholder="Message"></textarea>
            <button class="btn mt-3 rounded-3 mb-5">Send</button>
        </form>

      </div>
    </div>
  </div>
</section>
