<header class="text-white text-center pb-5">
  <div class="container">
    <img src="./assets/images/avataaars.svg" class="mb-5" alt="">
    <h1 class="mb-4">START ANGULAR</h1>
    <app-star></app-star>
    <!-- <div class="position-relative lines pt-5 ">
      <div class="line1"></div>
      <div class="line-icon">
        <i class="fa-solid fa-star"></i>
      </div>
      <div class="line2"></div>
    </div> -->
    <!-- <div class="line-icon">
      <i class="fa-solid fa-star"></i>
    </div> -->
    <p class="pt-4 pb-5">Graphic Artist - Web Designer - Illustrator</p>
  </div>
</header>
